.email-background
  background: #eee
  padding: 10px

.email-container
  max-width: 300px
  background: white
  font-family: sans-serif
  margin: 0 auto
  overflow: hidden
  border-radius: 5px

.pre-header
  @extend .email-container
  background: #eee
  color: #eee
  font-size: 5px

img
  max-width: 100%

p
  margin: 20px
  font-size: 18px
  font-weight: 300
  text-align: center
  color: #666
  line-height: 1.5

.cta
  text-align: center
  margin: 20px

  a
    text-decoration: none
    display: inline-block
    background: #0066ff
    color: white
    padding: 10px 20px
